.PassengerRegister-container {
    background-color: black;
    height: 100vh;
    box-sizing: border-box;
    font-family: Roboto-Regular, Roboto;
    display: grid;
    place-items: center;
}

.PassengerRegister-create-form {
    margin: 0 auto;
    display: grid;
    place-items: center;
    color: white;
    width: 80%;
    height: 80%;
    border: 10px solid white;
    border-radius: 10px;
    background-color: black;
    font-size: 16px;

    Link {
        color: red;
    }

}

.PassengerForm-register {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.PassengerRegister-form-group {
    display: flex;
    flex-direction: column;
}

/* .PassengerRegister-form-text {
    float: left;
    padding: 30px 440px 20px 30px;
} */

.PassengerRegister-input {
    width: 100%;
    height: 35px;
    background-color: #FAFAFA;
    border: none;
    border-radius: 4px;
}

#PassengerRegister-Btn {
    background-color: #1E1E1E;
    color: white;
    border: solid 2px white;
    border-radius: 10px;
    padding: 5px;
    /* margin: 10px; */
    /* width: 100%; */
    font-size: 1.2rem;
    font-weight: bold;
}

.PassengerRegister-form-group-terms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.PassengerRegister-form-group-input-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.PassengerRegister-text {
    font-size: 11px;
    /* padding-left: 10px; */
    text-decoration: underline;
    color: white;
    background-color: black;
    border: none;

}

.PassengerRegister-red-text {
    display: inline;
    margin-left: 20px;
    color: red;
    font-size: 14px;
}

.PassengerRegister-red-text1 {
    display: inline;
    color: red;
    font-size: 14px;
    float: right;
}

.PassengerRegister-modal {
    border: 2px solid white;
}

.PassengerRegister-error-text {
    color: red;
    font-size: 12px;
}

@media (max-width: 640px) {
    .PassengerRegister-create-form {
        border: none;
    }
}