.PassengerLogin-container{
    background-color: black;
    height: 100vh;
    box-sizing: border-box;
    font-family: Roboto-Regular, Roboto;
    display: grid;
    place-items: start;
}

.PassengerLoginForm-login {
    color: white;
    border: 10px solid white;
    margin: 0 auto;
    margin-top: 5%;
    display: grid; 
    align-items: center;
    background-color: black;
    border-radius: 10px;
    font-size: 16px;
    gap: 20px;
    padding: 30px;
    Link{
        color: red;
    }
}

.PassengerForm{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* .PassengerLogin-form-group {
    padding: 30px;
} */

/* .PassengerLogin-form-text {
    float: left;
    padding: 30px 440px 20px 30px;
} */

.PassengerLogin-input {
    width: 100%;
    height: 35px;
    background-color: #FAFAFA;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
}



#PassengerLogin-btn{
    background-color: #1E1E1E;
    color: white;
    border: solid 2px white;
    border-radius: 10px;
    padding: 5px;
    /* margin: 10px; */
    /* width: 100%; */
    font-size: 1.2rem;
    font-weight: bold;
}

.destination-btn-current-date, .destination-btn-chosen-date{
    background-color: #1E1E1E;
    color: white;
    border: solid 2px white;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
}

/* .PassengerLogin-checkbox {
    margin-left: 30px;
} */

.PassengerLogin-text {
    font-size: 12px;
    padding-left: 10px;
}
.PassengerLogin-red-text{
    display: inline;
    margin-left: 20px;
    color: red;
    font-size: 14px;
}
.PassengerLogin-red-text1{
    display: inline;
    color: red;
    font-size: 14px;
    float: right;
}
