.change-page-container {
  background-color: black;
  height: 100vh;
  display: grid;
  place-items: center;

}

.change-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
 
  color: white;
  border: 10px solid white;
  border-radius: 10px;
  width: 35%;
  height: 85%;
}

.change-page-links {
  margin: 0 auto;
  margin-top: 25%;
  display: grid;
  height: 30%;
  width: 40%;
  gap: 7%;
  /* border: 2px solid white; */
}

.change-page-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%; 
  border-radius: 10px;
  border: 1px solid white;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-decoration: none;

}

.change-page-driverchange,
.change-page-passengerchange {
  margin: 0 auto;
  height: 100%;
  border: 1px solid white;
  width: 80%;
  border-radius: 10px;
}