.google-maps-container {
    margin: 0 auto;
    width: 100%;
    border: 10px solid white;
    border-radius: 10px;
}

.user-input-map-container {
    /* background-color: blue; */
    /* margin-top: 25px; */
    padding: 3%;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}

.user-map-container {
    /* margin-top: 25px; */
}

.li-tag-destination-suggestions {
    list-style: none;
    margin: 10px;
    padding: 1%;
}

.google-map-ref {
    position: relative;
}

.google-maps-renderSuggestions {
    position: absolute;
    z-index: 1;
    background-color: black;
    border-radius: 10px;
}

.input-destination-search-bar {
    padding: 5px;
    /* width: 175px; */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    color: black;
}

@media (max-width: 640px) {
    .google-maps-container {
        border: none;

    }

    .user-input-map-container {
        padding: 0px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

/* @media (max-width: 1024px) {
    .input-destination-search-bar {
        padding: 5px;
    }
}


@media (max-width: 640px) {
    .input-destination-search-bar {
        border: none;
    }
} */


/* @media (max-width: 640px) {
    .google-maps-container {
        border: none;
    }

    .user-input-map-container {
        padding: 0;
        margin-bottom: 5px;
    }

    .input-destination-search-bar {
        width: 150px;
        padding: 2%
}
}

*/
/* @media (max-width: 500px) {
    .google-maps-container {
        width: 50%;
    }

    .user-input-map-container {}
} */