.App-Wrapper {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.App-Content {
  margin: 0 auto;
  height: 85%;
  color: white;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.App-Form {
  display: grid;
  margin: 0 auto;
  text-align: center;
  border: 10px solid white;
  border-radius: 10px;
  height: 85%;
  width: 75%;
  background-color: black;
}

.App-Title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-Title h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0 auto;
  letter-spacing: 2.5px;
}

.Links {
  margin: 0 auto;
  display: grid;
  width: 50%;
  gap: 10%;
}

.Links a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  border: solid 2px white;
  background-color: #1E1E1E;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-decoration: none;

}

.Icon-Container {
  display: flex;
  justify-content: end;
  align-items: end;
  height: 100%;
}

.infoIcon {
  background-color: white;
  width: 45px;
  height: 45px;
  margin: 1%;
  border-radius: 10px;
}


@media (max-width: 640px) {
  .App-Content {
    width: 90%;
  }

  .Links {
    width: 60%;
  }
}

@media (max-width: 400px) {
  .App-Content {
    width: 100%;
  }

  /* .Links a {
    height: px;
  } */

  /* .Links {
    margin: 0 auto;
    display: grid;
    width: 40%;
    gap: 10%;
  } */
}