.passenger-page-container {
    background-color: black;
    height: 100vh;
    color: white;
    display: grid;
    place-items: start;
    /* margin: 10%; */
    /* overflow: hidden; */
}

.passenger-page-wrapper {
    margin: 0 auto;
    margin-top: 5%;
    width: 50%;
    border: solid 10px white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
}

.passenger-page-wrapper form {
    /* border: solid 2px white; */
    width: 80%;
}


.passenger-page-wrapper form>* {
    margin: 10px;

    /* Adjust this value to your needs */
}

.destinations-list-current-day {
    margin: 5%;
    display: grid;
    /* grid-template-rows: 5% 5% auto;  */
    /* gap: 10px; */
}

.destinations-list-searched-day {
    margin: 5%;
    display: grid;
    /*grid-template-rows: 5% 5% auto;  */
    /* gap: 10px; */
}

.passenger-destination-picker {
    /* width: 150px; */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
}

.button-container button {
    margin-right: 7px;
}

#Passenger-destinations-btn:hover {
    background-color: green;
}

#Passenger-destinations-btn:active {
    background-color: green;
}


#Passenger-destinations-btn {
    background-color: #1E1E1E;
    color: white;
    border: solid 2px white;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    /* width: 30%; */
    font-size: 1.2rem;
    font-weight: bold;
}

.Passenger-destinations-btn {
    width: 40%;
    background-color: #1E1E1E;
    color: white;
    border: solid 2px white;
    border-radius: 10px;
    padding: 5px;
    margin: 1px;
    /* width: 100%; */
    font-size: 1.2rem;
    font-weight: bold;
}


p {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

#Passenger-Submit-Btn {
    background-color: #1E1E1E;
    color: white;
    border: solid 2px white;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
    /* width: 100%; */
    font-size: 1.2rem;
    font-weight: bold;
}

.passenger-selection-picker,
.passenger-arrival-selection-picker {
    /* margin-top: 25px; */
    /*width: 50px; /* Add your desired width */
    /* width: auto; */
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    color: lightslategray;
}

.passenger-form-group h2 {
    margin-top: 10px;
}


.passenger-form-group>* {
    margin-top: 2px;
}

.passenger-destinationsByDateNameSeatsAndRoute {
    /* border: solid 2px white; */
    display: flex;
    flex-direction: column;
}

/* @media (min-width: 640px) {
    .Passenger-destinations-btn {
        width: 60%;
    }
} */

@media (max-width: 640px) {
    .passenger-page-wrapper {
        border: none;
        width: 100%;
    }
}