.custom-datepicker-input {
    width: 150px; /* Add your desired width */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    color: lightslategray;
    /* Add any additional styles as needed */
  }