.destination-card-container {
    border: 5px solid white;
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;
    max-width: 100%;
    /* overflow-x: hidden; */
    margin-top: 16px;
    position: relative;
}

.destination-card-notice {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: #1E1E1E;
    color: white;
    width: 25px;
    height: 25px;
    /* padding: 5px; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}