.Driver-dashboard-container {
    background-color: black;
    height: 100vh;
    color: white;
    display: grid;
    place-items: start;
}

.Driver-dashboard-wrapper {
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Driver-dashboard-account-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.Driver-dashboard-account-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}


.Driver-dashboard-change-password {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 5px;
}

.Driver-dashboard-change-password-input {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    outline: none;

}

.Driver-dashboard-btns {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 7px;
}

.Driver-dashboard-change-password-btn,
.Driver-dashboard-delete-account-btn {
    background-color: #1E1E1E;
    color: white;
    border: solid 2px white;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}

.Driver-dashboard-delete-account-btn {
    background-color: red;
    margin-top: 10px;
}

@media (max-width: 640px) {

    .Driver-dashboard-change-password-btn,
    .Driver-dashboard-delete-account-btn {
        font-size: 14px;
        width: 70%;
    }
}

@media (min-width: 1024px) {
    .Driver-dashboard-wrapper {
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: start;
        gap: 40px;
    }

    .Driver-dashboard-btn {
        width: 100%;

    }
}