* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: "Raleway", sans-serif;
}

